/*

Built with: http://yui.github.io/skinbuilder/?mode=pureindex.html?opt=highgrounds,d8d1ba,ffffff,1,1,10,1.5&h=0,-30,60&n=0,-30,75&l=0,-30,80&b=0,-30,90&mode=pure;

*/

/* foundational CSS */
.pure-skin-highgrounds .pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #d8d8c5;
}

.pure-skin-highgrounds .pure-table caption {
    color: #abab82;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-skin-highgrounds .pure-table td,
.pure-skin-highgrounds .pure-table th {
    border-left: 1px solid #d8d8c5;/* inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.3em 0.6em; /* cell padding */
}

.pure-skin-highgrounds .pure-table td:first-child,
.pure-skin-highgrounds .pure-table th:first-child {
    border-left-width: 0;
}

.pure-skin-highgrounds .pure-table thead {
    background-color: #bebe9d;
    color: #12120c;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

/*
striping:
even - #fff (white)
odd - #edf5ff (light blue)
*/
.pure-skin-highgrounds .pure-table td {
    background-color: #e4e4d7;
    color: #373725;
}
.pure-skin-highgrounds .pure-table-odd td {
    background-color: #d8d8c5;
    color: #252518;
}

/* BORDERED TABLES */
.pure-skin-highgrounds .pure-table-bordered td {
    border-bottom:1px solid #d8d8c5;
}
.pure-skin-highgrounds .pure-table-bordered tbody > tr:last-child td,
.pure-skin-highgrounds .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.pure-skin-highgrounds .pure-table-horizontal td,
.pure-skin-highgrounds .pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom:1px solid #d8d8c5;
}
.pure-skin-highgrounds .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}
